/* header */
.buscador {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    margin-left: 370px;
    width: 17vw;
    
}

h1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
   margin-left: 15px;
    font-family: cursive;
    font-size: xx-large;
}

header {
    background-color: #a5957e;
    flex-direction: row;
    height: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    height: 100px;

}
.desaparecer{
     display: flex;
    flex-wrap: wrap;
 
    margin-top: 0px;
}
a {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin-top: 35px;
    justify-content: flex-end;
    font-size: larger;
}


a.top {
    display: flex;
    flex-wrap: wrap;
    padding-left: 27vw;

}

a.pot {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.no {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
}




/* resgistro */

.cuenta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    font-family: cursive;
}

.resgistro{
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    background-color:  #a5957e;
    justify-content: center;    
    align-self: center;
    margin-left: 515px;
    padding: 30px;
    border-radius: 15px;
}

div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5px;
    width: 300px;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vivido{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;

}

.condicioneso{
         display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}


.boton{ 
     display: flex;
    flex-wrap: wrap;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 32%;
    justify-content: center;
    width: 100px;
}

.agregado{
    margin-top: 20px;
}

