/*General*/


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgb(250, 235, 215);


}


* {
    box-sizing: border-box;
}


/* header */


#cabecera {
    width: 90%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #cfbfa8;

    padding: 3%;

    border-radius: 20px;

    margin-top: 2%;



}

.cabecera_izquierda {
    display: flex;
    flex-direction: row;
    max-width: 33%;

    justify-content: space-evenly;
    align-items: center;


}



.cabecera_izquierda img {
    max-height: 80px;
}


.cabecera_izquierda h1 {

    color: white;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 900;
}



.cabecera_medio {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador {
    width: 100%;
}


.cabecera_derecha {

    width: 20%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.listaHeader{
    list-style-type: none;

    width: 100%;

    display: flex;

    padding: 0;

    justify-content: space-evenly;
}

.listaHeader li{
    color: white;

}


.cabecera_derecha a {
    text-decoration: none;
    color: white;

    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;

    font-size: larger;
}

.cabecera_derecha p {
    text-decoration: none;
    color: white;

    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;

    font-size: larger;
}


/* resgistro */

.cuenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-size: xx-large;


}

.resgistro {
    display: flex;
    flex-wrap: wrap;
    width: 28.1vw;
    background-color: #e4d2ba;
    height: 50%;
    justify-content: center;

    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: 1.9%;
    margin-bottom: 8.1%;
    margin-left: 12vw;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 0.587vh;
    width: 19.84vw;
}


form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.vivido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.18vh;
 
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;

}

.condicioneso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1.18vh;
    text-align: center;
    text-decoration: solid;

}


.boton {
    display: flex;
    flex-wrap: wrap;
    height: 1.98h;

    margin-top: 1.76vh;
    margin-left: 32%;
    justify-content: center;
    width: 6.61vw;
    font-family: "Cormorant Garamond", serif;
    font-size: 100%;


}

.agregado {
    margin-top: 2.35vh;
}

.acepto {
    display: flex;
    margin-left: 0.661vw;
    font-family: "Cormorant Garamond", serif;
    text-decoration-color: black;

}

label {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    display: flex;
}

.fan {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 5vh;
    margin-left: 6px;


}




/*HOME*/

#main_home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 90%;

}


.aside_nav{
    margin-top: 2%;
    width: 20%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #e4d2ba;
    padding: 2%;
    border-radius: 5px;
}

.barra_nav ol {
    padding-left: 10%;
    width: 190px;
}

.barra_nav li {
    margin-top: 10%;
}

.aside_nav a {
    text-decoration: none;
    color: rgb(28, 60, 128);

    font-size: 20px;


}


.aside_nav h3 {
    margin-bottom: 0;
    padding-bottom: 0;

    font-size: 25px;

    color: black
    
}





.barra_nav {
    display: flex;
    flex-direction: column;
    width: 1;

}


.barra_nav li {
    padding-top: 8px;
}


.barra_nav ol {
    list-style-type: none;
    margin-top: 0;

}





#contenedor_home {
    width: 75%;
    margin-top: 2%;

    

    background-color: #e4d2ba;

    display: flex;
    flex-direction: column;

    padding: 2%;

    border-radius: 5px;
}


.mas_vendidos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 0%;
}




.caja_recomendados {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 0%;
}

.caja_recomendados article {

    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1%;
    padding: 2%;

    border: 2px solid rgb(241, 238, 209);
    border-radius: 5px;
}

.contenedor-busqueda{
        width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 0%;
}

.mas_vendidos article {

    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1%;
    padding: 2%;

    border: 2px solid rgb(241, 238, 209);
    border-radius: 5px;
}

.contenedor-busqueda article{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 1%;
    padding: 2%;

    border: 2px solid rgb(241, 238, 209);
    border-radius: 5px;
    height:-webkit-fill-available;
}

.mas_vendidos img {
    width: 100%;
    height: 62%;
    border: solid 0.5px rgba(128, 128, 128, 0.445);
}

.caja_recomendados img {
    width: 100%;
    height: 62%;
    border: solid 0.5px rgba(128, 128, 128, 0.445);
}


.contenedor-busqueda img {
    width: 100%;


    border: solid 0.5px rgba(128, 128, 128, 0.445);
}

.mas_vendidos p {
    margin-top: 1%;
    text-align: center;
}

.caja_recomendados p {
    margin-top: 1%;
    text-align: center;
}

.mas_vendidos a {
    color: rgb(87, 87, 87);

}

.caja_recomendados a {
    color: rgb(87, 87, 87);

}

.contenedor-busqueda p {
    margin-top: 1%;
    text-align: center;
}
.contenedor-busqueda h3 {
    text-align: center;
}

.contenedor-busqueda a {
    color: rgb(87, 87, 87);
    padding-bottom:0 ;
}


.subtitulo_main {
    width: 80%;
    margin-left: 3%;

    display: flex;

}

#main_home h2 {
color: black;
    display: flex;
    font-size: 35px;

}


.barra_nav {
    max-width: 30%;
}

.barra_nav a {
    color: rgb(87, 87, 87);

}

/*login*/
.titulo_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-size: xx-large;
}
.main_log{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-top: 3%;
    margin-bottom: 3.1%;
    
}


.formulario_login {
    display: flex;
  
    display: flex;
    flex-wrap: wrap;
    width: 28.1vw;
    background-color: #e4d2ba;

    height: 30%;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: 3%;
    margin-bottom: 15%;
    margin-left: 15%;
   
}

.ya_tengo{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.18vh;

    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: larger;
}





/*search*/
    
.sin_resultados {

    display: none;
    text-align: center;

}

/*footer*/


.pie {
    width: 90%;
    height: 12.5%;
    display: flex;
    justify-content: space-between;
    background-color: #cfbfa8;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-top: 2%;
    margin-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;

}

.pie_derecha {
    display: flex;
    flex-direction: row;
    max-width: 40%;
    justify-content: flex-end;
    align-items: center;
    color: white;

}

.pie_derecha img {
    max-width: 90px;
}

.pie_izquierda {
    display: flex;
    flex-wrap: wrap;
    color: white;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    font-size: larger;

}

.pie_p {
    display: flex;
    margin-bottom: 0px;
    font-size: larger;
}

.pie_num {
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;

}

.pie_centro {
    display: flex;
    flex-direction: row;
    margin-top: 1.7%;
    color: aliceblue;
    font-size: x-large;

}

.momo {
    display: flex;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

/*categorias*/


.catbody {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 90%;
}

#contenedor_categori {
    width: 75%;
    margin-top: 2%;
    background-color: #e4d2ba;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 5px;

}

.categorias {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-top: 0%;

}

.categorias article {

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1%;
    padding: 2%;

    border: 2px solid rgb(241, 238, 209);
    border-radius: 5px;


}

.categorias img {
    width: 100%;
    height: 62%;
}

.categorias p {
    margin-top: 1%;
    text-align: center;
}



.catbody h2 {
    color: rgb(49, 49, 49);
    display: flex;
    font-size: 35px;


}

.catbody a {
    color: rgb(87, 87, 87);

}





/*detalles producto*/



.descripcion_producto{
    display: flex;
width: 100%;
flex-wrap: wrap;
border: 2px solid rgb(241, 238, 209);
justify-content: center;
border-radius: 10px;
}

.article_producto{
    width: 45% ;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3%;
    padding: 2%;


}

.resumen_producto{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

#imgProduct{
    height: 100%;
    width: 100%;

    border-radius: 5px;
    border: 1px solid rgb(87, 87, 87);
}


.precio{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.descripcion_producto h3{
    font-size: 30px;
    margin-top: 0;

    color: black;

}

.precio_anterior{
    text-decoration: line-through 1px;
    padding-right: 1%;
    font-weight: 100;
    font-size: 20px;
    color: rgb(105, 5, 5);

}

.tags{
   font-size: 12px;

    color: rgb(99, 97, 97);

    text-decoration: none;

    list-style-type: none;

    display: flex;

    justify-content: flex-start;

    align-items: flex-start;

    padding-left: 0;

}

.tagIndividual{
    text-decoration: underline  ;
}




.stock{
    color: rgb(253, 116, 116);
}

.nada{
    text-decoration:  underline;
     
}

.descripcion_producto div{
    width: 100%;
    padding: 1%;
}

.descripcion_producto a{
    font-style: none;
    font-size: 15px;
    color: rgb(51, 50, 50);
    font-weight:500;
}

.comentarios{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.638);
    border-radius: 20px;
    width: 30%;
    height: fit-content;
    padding: 2%;
    margin-left: 1%;
    margin-bottom: 5px;
    margin-top: 3%;
}

.comentarios h3{
    font-size: large;
}

.comentarios h4{
    font-size: small;
}
.puntuacion{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: row;
    align-items: center;
    
}

.puntuacion img{
    display: flex;
    width: 25px;
  
}

.nobre_fecha{
margin-bottom: 0px;
}

.fecha{
    margin-bottom: 2%;
}



/* Estilos Telefono 420px */

@media(max-width: 420px) {


    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .catbody {
        flex-direction: column;
    }

    .aside_nav {
        width: 100%;
    }

    #contenedor_categori {
        width: 100%;
    }

    .categorias {
        flex-direction: column;
    }

    .categorias article {
        width: 100%;
    }

    .subtitulo_main {
        width: 100%;
    }

    .subtitulo_main h2 {
        text-align: center;
    }

    #contenedor_home {
        width: 100%;
    }

    .mas_vendidos {
        display: flex;
        flex-direction: column;
        
    }

      .caja_recomendados {
        display: flex;
        flex-direction: column;
        
    }

    .contenedor-busqueda{
        display: flex;  
        flex-direction: column;

    }

    .resgistro {
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .fan {
        display: flex;
        flex-direction: column;
    }

    .resgistro{
        display: flex;
        margin-left: 0px;
    }

    form{
        display: flex;
        align-items: flex-start;
        margin-left: 80px;
    }

    .fan{
        width: auto;
    }
    .boton{
        display: flex;
        width: auto;
    }
    div{
        width: auto;
    }

    .pie_izquierda{
        display: none;
    }
    .pie_derecha{
        display: none;
    }


    .mas_vendidos article{
        width: 100%;
    }

      .caja_recomendados article{
        width: 100%;
    }

   .contenedor-busqueda article{
    width: 100%;
   }

    .subtitulo_main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .aside_nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: solid 2px white; 
      
        border-radius: 10px;
    }

    .barra_nav{
        align-items: center;
        justify-content: center;      
        min-width: 100%; 
    }

    .barra_nav ol{
        width: 100%;
    }

   

    .barra_nav li{
        text-align: center;
    background-color: #e4d2ba;
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
   padding: 3%;
    }


    .subtitulo_main h3{
        margin: 0;
        padding-top: 2%;
    }

    .descripcion_producto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descripcion_producto article{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .descripcion_producto div{
        text-align: center;
        padding: 2%;
}

.descripcion_producto h3{
    text-align: center;
}

.precio{
    display: flex;
    flex-direction: column;

    margin: 1%;
}

#cabecera{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

}

.cabecera_izquierda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cabecera_izquierda h1{
    display: none;
}
.cabecera_medio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-right: 23%;
}
.cabecera_derecha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cabecera_derecha a{
    margin: 1%;
}

.fan{
    margin: 0px;
}

.main_log{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
.formulario_login{
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
}


.tags{

    display: flex;
    align-items: center;
    justify-content: center;

}



}