/*General*/


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');




body {
    margin: 0;
    width: 100vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    background-color: rgb(250, 235, 215);


}


* {
    box-sizing: border-box;
}





/* header */


#cabecera {
    width: 80%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #cfbfa8;
  
    padding: 3%;

    border-radius: 20px;

    margin-top: 2%;


    


}

.cabecera_izquierda {
    display: flex;
    flex-direction: row;
    max-width: 33%;

    justify-content: space-evenly;
    align-items: center;


}



.cabecera_izquierda img {
    max-height: 80px;
}


.cabecera_izquierda h1 {
   
  color: white;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
}



.cabecera_medio {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador {
    width: 100%;
}


.cabecera_derecha {

    width: 15%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.cabecera_derecha a {
    text-decoration: none;
    color: white;

    font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;

  font-size: larger;
}

.cabecera_derecha p {
    text-decoration: none;
    color: white;

    font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: bold;

  font-size: larger;
}


















/* resgistro */

.cuenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    font-family: cursive;
}

.resgistro {
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    background-color: #a5957e;
    justify-content: center;
    align-self: center;
    margin-left: 515px;
    padding: 30px;
    border-radius: 15px;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5px;
    width: 300px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vivido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;

}

.condicioneso {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}


.boton {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 32%;
    justify-content: center;
    width: 100px;
}

.agregado {
    margin-top: 20px;
}